{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-container">
        <p class="tag">LikeLion_14th_session_HW</p>
        <h1 class="title">자기소개</h1>
        <h6 class="welcome">이효령/식품산업관리학과</h6>
    

    <img src="{% static 'images/RR.jpg' %}" alt="루피" width="200">
    <div class="section">
                <p>제 이름은 이효령이고, 07년생 올해로 20살입니다!</p>
                <p>전공은 사과대 소속인 식품산업관리학과입니당</p>
                <p>평소 닮은 꼴로 루피를 많이 들어서 루피 사진 넣어봤습니다 ㅎㅎ.</p>
    </div>
{% endblock %}